extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 Melinda Golden
        p.lead.text-light
          | Remote Front-End Developer
        .portfolio-bio
          p
            | I am a remote front-end developer in Asheville, NC. I am passionate about JavaScript and building web applications. I have been working for a web design company for almost 3 years building static websites and answering support tickets. I am self-taught, and I decided to expand my skills by enrolling in an online program called the Treehouse Full Stack JavaScript Techdegree where I will be learning about Node, Express, SQL, MongoDB, REST APIs, and React.
          p
            | While I spend much of my free time learning, I also regularly attend local tech meet ups. I have volunteered to give presentations about JavaScript and share my knowledge with other developers. Along with other women leaders, I helped re-launch the women in tech meet up in Asheville. Giving back to the community is important to me and my goal is to help other developers, especially women, succeed in the tech field and learn more about development.
          p
            | I started learning web development a few years ago. After graduating from art school, my husband and I started a wedding photography business. But we decided to pursue other passions and that’s when I became a marketing manager for a surgery office in Alpharetta, GA. I was in charge of the marketing, social media, and building a website for each doctor that specialized in different types of surgery. I discovered that I enjoyed building the websites. It was then that I began studying web development. And using my portfolio of websites I built for the doctors, I was hired for my current role as a web developer.
          p
            | My education and experience have prepared me to succeed in a career in front-end development. At my current job, I build websites every day. And with my background in art, I have an eye for design. I’ve gained a lot of knowledge from the Techdegree. I learned some back-end technologies, so I can be familiar with how they work with the front end. I've also had the opportunity to re-enforce what I’ve learned by doing peer reviews and grading other projects. I’m highly self-motivated and I have strong attention to detail. My goal is to build web applications with the best practices and latest technologies.
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills
        ul.list
          li JavaScript
          li jQuery
          li Express
          li Git
          li HTML
          li CSS
          li SCSS (Sass)
          li Bootstrap
          li Photoshop
          li Sketch
        h6 Contact Info
        ul.list
          li 
            a(href="mailto:info@melindagolden.com", target="_blank") info@melindagolden.com
        ul.social
          li
            a(href='https://www.linkedin.com/in/melindamgolden/', target='_blank', aria-label="Linkedin")
              i.fab.fa-linkedin-in
          li
            a(href='https://github.com/mmgolden', target='_blank', aria-label="Github")
              i.fab.fa-github
          li
            a(href='https://twitter.com/melindamgolden', target='_blank', aria-label="Twitter")
              i.fab.fa-twitter
          li
            a(href='https://medium.com/@melindagolden', target='_blank', aria-label="Medium")
              i.fab.fa-medium-m

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  