extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-heading
    div
      h1 Portfolio
      p.lead.text-light
        | Welcome to my portfolio! View more information about each project by clicking on an image. Feel free to get in touch. I would love to hear from you!
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-1.medium-up-2.large-up-3
      each val, index in data
        .cell
          a(href=`/project/${index}`)
            img(src=`${val.image_urls[0]}`)
            h5= val.project_name
      
