/*****************************

General

*****************************/

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #777;
  font-size: 2.5rem;
}

h5 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #666;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
  font-size: 1.2rem;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #666;
}

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

/*****************************

Portfolio

*****************************/

.portfolio-me {
  padding: 20px;
  background: #31b6bb;
  color: #fff;
  box-shadow: none !important;
}

.portfolio-me img {
  margin-bottom: 20px;
}

.portfolio-me h5 {
  color: #fff;
}

.portfolio-me p {
  color: #fff;
  font-size: 1rem;
}

.portfolio-me a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 0.813rem;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #177074;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.portfolio-breadcrumb a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 0.813rem;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #777;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail{
  margin-bottom: 10px;
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.188rem;
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
  padding-bottom: 0;
  font-size: 1rem;
}

.portfolio-project li{
  font-size: 1rem;
  color: #666;
}

.portfolio-bio{
    line-height: 25px;
}
